<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="width=device-width" name="viewport">
  <title><%= title %></title>
	<style type="text/css">
		@keyframes spinAround {
			from {
				transform: rotate(0)
			}

			to {
				transform: rotate(359deg)
			}
		}

		@media only screen {
			html {
				min-height: 100%;
				background: #fefefe
			}
		}

		@media only screen and (max-width:765px) {
			.small-float-center {
				margin: 0 auto !important;
				float: none !important;
				text-align: center !important
			}

			.small-text-center {
				text-align: center !important
			}

			.small-text-left {
				text-align: left !important
			}

			.small-text-right {
				text-align: right !important
			}
		}

		@media only screen and (max-width:765px) {
			.hide-for-large {
				display: block !important;
				width: auto !important;
				overflow: visible !important;
				max-height: none !important;
				font-size: inherit !important;
				line-height: inherit !important
			}
		}

		@media only screen and (max-width:765px) {

			table.body table.container .hide-for-large,
			table.body table.container .row.hide-for-large {
				display: table !important;
				width: 100% !important
			}
		}

		@media only screen and (max-width:765px) {
			table.body table.container .callout-inner.hide-for-large {
				display: table-cell !important;
				width: 100% !important
			}
		}

		@media only screen and (max-width:765px) {
			table.body table.container .show-for-large {
				display: none !important;
				width: 0;
				mso-hide: all;
				overflow: hidden
			}
		}

		@media only screen and (max-width:765px) {
			table.body img {
				width: auto;
				height: auto
			}

			table.body center {
				min-width: 0 !important
			}

			table.body .container {
				width: 95% !important
			}

			table.body .column,
			table.body .columns {
				height: auto !important;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 20px !important;
				padding-right: 20px !important
			}

			table.body .column .column,
			table.body .column .columns,
			table.body .columns .column,
			table.body .columns .columns {
				padding-left: 0 !important;
				padding-right: 0 !important
			}

			table.body .collapse .column,
			table.body .collapse .columns {
				padding-left: 0 !important;
				padding-right: 0 !important
			}

			td.small-1,
			th.small-1 {
				display: inline-block !important;
				width: 8.33333% !important
			}

			td.small-2,
			th.small-2 {
				display: inline-block !important;
				width: 16.66667% !important
			}

			td.small-3,
			th.small-3 {
				display: inline-block !important;
				width: 25% !important
			}

			td.small-4,
			th.small-4 {
				display: inline-block !important;
				width: 33.33333% !important
			}

			td.small-5,
			th.small-5 {
				display: inline-block !important;
				width: 41.66667% !important
			}

			td.small-6,
			th.small-6 {
				display: inline-block !important;
				width: 50% !important
			}

			td.small-7,
			th.small-7 {
				display: inline-block !important;
				width: 58.33333% !important
			}

			td.small-8,
			th.small-8 {
				display: inline-block !important;
				width: 66.66667% !important
			}

			td.small-9,
			th.small-9 {
				display: inline-block !important;
				width: 75% !important
			}

			td.small-10,
			th.small-10 {
				display: inline-block !important;
				width: 83.33333% !important
			}

			td.small-11,
			th.small-11 {
				display: inline-block !important;
				width: 91.66667% !important
			}

			td.small-12,
			th.small-12 {
				display: inline-block !important;
				width: 100% !important
			}

			.column td.small-12,
			.column th.small-12,
			.columns td.small-12,
			.columns th.small-12 {
				display: block !important;
				width: 100% !important
			}

			table.body td.small-offset-1,
			table.body th.small-offset-1 {
				margin-left: 8.33333% !important;
				Margin-left: 8.33333% !important
			}

			table.body td.small-offset-2,
			table.body th.small-offset-2 {
				margin-left: 16.66667% !important;
				Margin-left: 16.66667% !important
			}

			table.body td.small-offset-3,
			table.body th.small-offset-3 {
				margin-left: 25% !important;
				Margin-left: 25% !important
			}

			table.body td.small-offset-4,
			table.body th.small-offset-4 {
				margin-left: 33.33333% !important;
				Margin-left: 33.33333% !important
			}

			table.body td.small-offset-5,
			table.body th.small-offset-5 {
				margin-left: 41.66667% !important;
				Margin-left: 41.66667% !important
			}

			table.body td.small-offset-6,
			table.body th.small-offset-6 {
				margin-left: 50% !important;
				Margin-left: 50% !important
			}

			table.body td.small-offset-7,
			table.body th.small-offset-7 {
				margin-left: 58.33333% !important;
				Margin-left: 58.33333% !important
			}

			table.body td.small-offset-8,
			table.body th.small-offset-8 {
				margin-left: 66.66667% !important;
				Margin-left: 66.66667% !important
			}

			table.body td.small-offset-9,
			table.body th.small-offset-9 {
				margin-left: 75% !important;
				Margin-left: 75% !important
			}

			table.body td.small-offset-10,
			table.body th.small-offset-10 {
				margin-left: 83.33333% !important;
				Margin-left: 83.33333% !important
			}

			table.body td.small-offset-11,
			table.body th.small-offset-11 {
				margin-left: 91.66667% !important;
				Margin-left: 91.66667% !important
			}

			table.body table.columns td.expander,
			table.body table.columns th.expander {
				display: none !important
			}

			table.body .right-text-pad,
			table.body .text-pad-right {
				padding-left: 10px !important
			}

			table.body .left-text-pad,
			table.body .text-pad-left {
				padding-right: 10px !important
			}

			table.menu {
				width: 100% !important
			}

			table.menu td,
			table.menu th {
				width: auto !important;
				display: inline-block !important
			}

			table.menu.small-vertical td,
			table.menu.small-vertical th,
			table.menu.vertical td,
			table.menu.vertical th {
				display: block !important
			}

			table.menu[align=center] {
				width: auto !important
			}

			table.button.small-expand,
			table.button.small-expanded {
				width: 100% !important
			}

			table.button.small-expand table,
			table.button.small-expanded table {
				width: 100%
			}

			table.button.small-expand table a,
			table.button.small-expanded table a {
				text-align: center !important;
				width: 100% !important;
				padding-left: 0 !important;
				padding-right: 0 !important
			}

			table.button.small-expand center,
			table.button.small-expanded center {
				min-width: 0
			}
		}

		@media screen and (max-width:768px) {
			.is-size-1-mobile {
				font-size: 48px !important
			}

			.is-size-2-mobile {
				font-size: 40px !important
			}

			.is-size-3-mobile {
				font-size: 30px !important
			}

			.is-size-4-mobile {
				font-size: 24px !important
			}

			.is-size-5-mobile {
				font-size: 16px !important
			}

			.is-size-6-mobile {
				font-size: 14px !important
			}

			.is-size-7-mobile {
				font-size: 12px !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.is-size-1-tablet {
				font-size: 48px !important
			}

			.is-size-2-tablet {
				font-size: 40px !important
			}

			.is-size-3-tablet {
				font-size: 30px !important
			}

			.is-size-4-tablet {
				font-size: 24px !important
			}

			.is-size-5-tablet {
				font-size: 16px !important
			}

			.is-size-6-tablet {
				font-size: 14px !important
			}

			.is-size-7-tablet {
				font-size: 12px !important
			}
		}

		@media screen and (max-width:1023px) {
			.is-size-1-touch {
				font-size: 48px !important
			}

			.is-size-2-touch {
				font-size: 40px !important
			}

			.is-size-3-touch {
				font-size: 30px !important
			}

			.is-size-4-touch {
				font-size: 24px !important
			}

			.is-size-5-touch {
				font-size: 16px !important
			}

			.is-size-6-touch {
				font-size: 14px !important
			}

			.is-size-7-touch {
				font-size: 12px !important
			}
		}

		@media screen and (min-width:1024px) {
			.is-size-1-desktop {
				font-size: 48px !important
			}

			.is-size-2-desktop {
				font-size: 40px !important
			}

			.is-size-3-desktop {
				font-size: 30px !important
			}

			.is-size-4-desktop {
				font-size: 24px !important
			}

			.is-size-5-desktop {
				font-size: 16px !important
			}

			.is-size-6-desktop {
				font-size: 14px !important
			}

			.is-size-7-desktop {
				font-size: 12px !important
			}
		}

		@media screen and (min-width:1216px) {
			.is-size-1-widescreen {
				font-size: 48px !important
			}

			.is-size-2-widescreen {
				font-size: 40px !important
			}

			.is-size-3-widescreen {
				font-size: 30px !important
			}

			.is-size-4-widescreen {
				font-size: 24px !important
			}

			.is-size-5-widescreen {
				font-size: 16px !important
			}

			.is-size-6-widescreen {
				font-size: 14px !important
			}

			.is-size-7-widescreen {
				font-size: 12px !important
			}
		}

		@media screen and (min-width:1408px) {
			.is-size-1-fullhd {
				font-size: 48px !important
			}

			.is-size-2-fullhd {
				font-size: 40px !important
			}

			.is-size-3-fullhd {
				font-size: 30px !important
			}

			.is-size-4-fullhd {
				font-size: 24px !important
			}

			.is-size-5-fullhd {
				font-size: 16px !important
			}

			.is-size-6-fullhd {
				font-size: 14px !important
			}

			.is-size-7-fullhd {
				font-size: 12px !important
			}
		}

		@media screen and (max-width:768px) {
			.has-text-centered-mobile {
				text-align: center !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.has-text-centered-tablet {
				text-align: center !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.has-text-centered-tablet-only {
				text-align: center !important
			}
		}

		@media screen and (max-width:1023px) {
			.has-text-centered-touch {
				text-align: center !important
			}
		}

		@media screen and (min-width:1024px) {
			.has-text-centered-desktop {
				text-align: center !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.has-text-centered-desktop-only {
				text-align: center !important
			}
		}

		@media screen and (min-width:1216px) {
			.has-text-centered-widescreen {
				text-align: center !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.has-text-centered-widescreen-only {
				text-align: center !important
			}
		}

		@media screen and (min-width:1408px) {
			.has-text-centered-fullhd {
				text-align: center !important
			}
		}

		@media screen and (max-width:768px) {
			.has-text-justified-mobile {
				text-align: justify !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.has-text-justified-tablet {
				text-align: justify !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.has-text-justified-tablet-only {
				text-align: justify !important
			}
		}

		@media screen and (max-width:1023px) {
			.has-text-justified-touch {
				text-align: justify !important
			}
		}

		@media screen and (min-width:1024px) {
			.has-text-justified-desktop {
				text-align: justify !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.has-text-justified-desktop-only {
				text-align: justify !important
			}
		}

		@media screen and (min-width:1216px) {
			.has-text-justified-widescreen {
				text-align: justify !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.has-text-justified-widescreen-only {
				text-align: justify !important
			}
		}

		@media screen and (min-width:1408px) {
			.has-text-justified-fullhd {
				text-align: justify !important
			}
		}

		@media screen and (max-width:768px) {
			.has-text-left-mobile {
				text-align: left !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.has-text-left-tablet {
				text-align: left !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.has-text-left-tablet-only {
				text-align: left !important
			}
		}

		@media screen and (max-width:1023px) {
			.has-text-left-touch {
				text-align: left !important
			}
		}

		@media screen and (min-width:1024px) {
			.has-text-left-desktop {
				text-align: left !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.has-text-left-desktop-only {
				text-align: left !important
			}
		}

		@media screen and (min-width:1216px) {
			.has-text-left-widescreen {
				text-align: left !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.has-text-left-widescreen-only {
				text-align: left !important
			}
		}

		@media screen and (min-width:1408px) {
			.has-text-left-fullhd {
				text-align: left !important
			}
		}

		@media screen and (max-width:768px) {
			.has-text-right-mobile {
				text-align: right !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.has-text-right-tablet {
				text-align: right !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.has-text-right-tablet-only {
				text-align: right !important
			}
		}

		@media screen and (max-width:1023px) {
			.has-text-right-touch {
				text-align: right !important
			}
		}

		@media screen and (min-width:1024px) {
			.has-text-right-desktop {
				text-align: right !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.has-text-right-desktop-only {
				text-align: right !important
			}
		}

		@media screen and (min-width:1216px) {
			.has-text-right-widescreen {
				text-align: right !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.has-text-right-widescreen-only {
				text-align: right !important
			}
		}

		@media screen and (min-width:1408px) {
			.has-text-right-fullhd {
				text-align: right !important
			}
		}

		@media screen and (max-width:768px) {
			.is-block-mobile {
				display: block !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.is-block-tablet {
				display: block !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.is-block-tablet-only {
				display: block !important
			}
		}

		@media screen and (max-width:1023px) {
			.is-block-touch {
				display: block !important
			}
		}

		@media screen and (min-width:1024px) {
			.is-block-desktop {
				display: block !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.is-block-desktop-only {
				display: block !important
			}
		}

		@media screen and (min-width:1216px) {
			.is-block-widescreen {
				display: block !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.is-block-widescreen-only {
				display: block !important
			}
		}

		@media screen and (min-width:1408px) {
			.is-block-fullhd {
				display: block !important
			}
		}

		@media screen and (max-width:768px) {
			.is-flex-mobile {
				display: flex !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.is-flex-tablet {
				display: flex !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.is-flex-tablet-only {
				display: flex !important
			}
		}

		@media screen and (max-width:1023px) {
			.is-flex-touch {
				display: flex !important
			}
		}

		@media screen and (min-width:1024px) {
			.is-flex-desktop {
				display: flex !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.is-flex-desktop-only {
				display: flex !important
			}
		}

		@media screen and (min-width:1216px) {
			.is-flex-widescreen {
				display: flex !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.is-flex-widescreen-only {
				display: flex !important
			}
		}

		@media screen and (min-width:1408px) {
			.is-flex-fullhd {
				display: flex !important
			}
		}

		@media screen and (max-width:768px) {
			.is-inline-mobile {
				display: inline !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.is-inline-tablet {
				display: inline !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.is-inline-tablet-only {
				display: inline !important
			}
		}

		@media screen and (max-width:1023px) {
			.is-inline-touch {
				display: inline !important
			}
		}

		@media screen and (min-width:1024px) {
			.is-inline-desktop {
				display: inline !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.is-inline-desktop-only {
				display: inline !important
			}
		}

		@media screen and (min-width:1216px) {
			.is-inline-widescreen {
				display: inline !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.is-inline-widescreen-only {
				display: inline !important
			}
		}

		@media screen and (min-width:1408px) {
			.is-inline-fullhd {
				display: inline !important
			}
		}

		@media screen and (max-width:768px) {
			.is-inline-block-mobile {
				display: inline-block !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.is-inline-block-tablet {
				display: inline-block !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.is-inline-block-tablet-only {
				display: inline-block !important
			}
		}

		@media screen and (max-width:1023px) {
			.is-inline-block-touch {
				display: inline-block !important
			}
		}

		@media screen and (min-width:1024px) {
			.is-inline-block-desktop {
				display: inline-block !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.is-inline-block-desktop-only {
				display: inline-block !important
			}
		}

		@media screen and (min-width:1216px) {
			.is-inline-block-widescreen {
				display: inline-block !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.is-inline-block-widescreen-only {
				display: inline-block !important
			}
		}

		@media screen and (min-width:1408px) {
			.is-inline-block-fullhd {
				display: inline-block !important
			}
		}

		@media screen and (max-width:768px) {
			.is-inline-flex-mobile {
				display: inline-flex !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.is-inline-flex-tablet {
				display: inline-flex !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.is-inline-flex-tablet-only {
				display: inline-flex !important
			}
		}

		@media screen and (max-width:1023px) {
			.is-inline-flex-touch {
				display: inline-flex !important
			}
		}

		@media screen and (min-width:1024px) {
			.is-inline-flex-desktop {
				display: inline-flex !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.is-inline-flex-desktop-only {
				display: inline-flex !important
			}
		}

		@media screen and (min-width:1216px) {
			.is-inline-flex-widescreen {
				display: inline-flex !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.is-inline-flex-widescreen-only {
				display: inline-flex !important
			}
		}

		@media screen and (min-width:1408px) {
			.is-inline-flex-fullhd {
				display: inline-flex !important
			}
		}

		@media screen and (max-width:768px) {
			.is-hidden-mobile {
				display: none !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.is-hidden-tablet {
				display: none !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.is-hidden-tablet-only {
				display: none !important
			}
		}

		@media screen and (max-width:1023px) {
			.is-hidden-touch {
				display: none !important
			}
		}

		@media screen and (min-width:1024px) {
			.is-hidden-desktop {
				display: none !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.is-hidden-desktop-only {
				display: none !important
			}
		}

		@media screen and (min-width:1216px) {
			.is-hidden-widescreen {
				display: none !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.is-hidden-widescreen-only {
				display: none !important
			}
		}

		@media screen and (min-width:1408px) {
			.is-hidden-fullhd {
				display: none !important
			}
		}

		@media screen and (max-width:768px) {
			.is-invisible-mobile {
				visibility: hidden !important
			}
		}

		@media screen and (min-width:769px),
		print {
			.is-invisible-tablet {
				visibility: hidden !important
			}
		}

		@media screen and (min-width:769px) and (max-width:1023px) {
			.is-invisible-tablet-only {
				visibility: hidden !important
			}
		}

		@media screen and (max-width:1023px) {
			.is-invisible-touch {
				visibility: hidden !important
			}
		}

		@media screen and (min-width:1024px) {
			.is-invisible-desktop {
				visibility: hidden !important
			}
		}

		@media screen and (min-width:1024px) and (max-width:1215px) {
			.is-invisible-desktop-only {
				visibility: hidden !important
			}
		}

		@media screen and (min-width:1216px) {
			.is-invisible-widescreen {
				visibility: hidden !important
			}
		}

		@media screen and (min-width:1216px) and (max-width:1407px) {
			.is-invisible-widescreen-only {
				visibility: hidden !important
			}
		}

		@media screen and (min-width:1408px) {
			.is-invisible-fullhd {
				visibility: hidden !important
			}
		}
	</style>
</head>